
{% extends "user_dashboard/base.html" %}
{% load static %}
{% load dashboard_response %}

{% block content %}
    <div class="container-fluid py-4">

      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0">
                <h3 class="font-weight-bolder text-dark text-gradient">Edit Form</h3>
            </div>
            <form method="post">
                {% csrf_token %}
                <div class="card-body px-3 pt-0 pb-2">
                <div class="mb-1 row">
                    <label  class="col-sm-2 col-form-label">KuikForm ID</label>
                    <div class="col-sm-8">
                      <input type="text" readonly class="form-control-plaintext" value="{{ form.id }}">
                    </div>
                </div>
                <div class="mb-1 row">
                    <label  class="col-sm-2 col-form-label">Title</label>
                    <div class="col-sm-8">
                      <input type="text" readonly class="form-control-plaintext" value="{{ form.title }}">
                    </div>
                </div>
                <div class="mb-1 row">
                    <label  class="col-sm-2 col-form-label">Created On</label>
                    <div class="col-sm-8">
                      <input type="text" readonly class="form-control-plaintext" value="{{ form.created_on }}">
                    </div>
                </div>
                <div class="mb-1 row">
                    <label  class="col-sm-2 col-form-label">Form Status</label>
                    <div class="col-sm-8">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="form_status" id="form_status_option1" value=1 {% if form.is_active %} checked {% endif %} >
                            <label class="form-check-label" for="form_status_option1">
                              Active
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="form_status" id="form_status_option2" value=0 {% if not form.is_active %} checked {% endif %}>
                            <label class="form-check-label" for="form_status_option2">
                              Inactive
                            </label>
                        </div>
                    </div>
                </div>
                <div class="mb-1 row">
                    <label  class="col-sm-2 col-form-label">Whitelist Mode</label>
                    <div class="col-sm-8">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="whitelist_mode" id="whitelist_mode_option1" value=1 {% if form.whitelist_mode %} checked {% endif %}>
                            <label class="form-check-label" for="whitelist_mode_option1">
                              Enabled
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="whitelist_mode" id="whitelist_mode_option2" value=0 {% if not form.whitelist_mode %} checked {% endif %}>
                            <label class="form-check-label" for="whitelist_mode_option2">
                              Disabled
                            </label>
                        </div>
                    </div>
                </div>


                <div class="mb-1 row">
                    <label  class="col-sm-2 col-form-label">Whitelisted Websites</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" name="whitelisted_websites" value="{{ form.whitelist_websites|list_to_text_csv }}" >
                      <small  class="form-text text-muted"><b><i>NOTE</i></b> : Don't include http or https. If your website is <b>http://example.com/</b>, then enter only <b>example.com</b> </small>

                    </div>

                </div>
            </div>
                <div class="card-footer">
                    <a class="btn btn-danger bg-gradient-danger" data-bs-target="#deleteConfirmationModal" data-bs-toggle="modal">Delete form</a>
                    <span style="width: 50px"></span>
                    <a class="btn btn-success bg-gradient-success" data-bs-target="#addToWebsiteCodeSnippet"  data-bs-toggle="modal" >Add Form To Website</a>
                    <button class="btn btn-info bg-gradient-info float-end" type="submit">Update Form</button>
                </div>
            </form>
          </div>
        </div>
      </div>

      <div class="row mt-0">
        <div class="col-lg-7 mb-lg-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-lg-6">
                  <div class="d-flex flex-column h-100">
                    <h5 class="font-weight-bolder">Facing Issue To Add In Website ?</h5>
                    <p class="mb-5">Check Documentation for installation process and other configuration. If you have still use with installation , Click on the youtube video and follow each step. If you still face issue contact us. We will surely resolve your issue. </p>
                    <a class="text-body text-sm font-weight-bold mb-0 icon-move-right mt-auto" href="javascript:;">
                      Watch Tutorial
                      <i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
                <div class="col-lg-5 ms-auto text-center mt-3 mt-lg-0">
                  <div class="position-relative d-flex align-items-center justify-content-center h-100">
                    <img class="w-100 position-relative z-index-2 pt-4" src="{% static "user_dashboard/img/illustrations/youtube_icon.svg" %}" alt="rocket">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="card h-100 p-3">
            <div class="overflow-hidden position-relative border-radius-lg bg-cover h-100" style="background-image: url('https://zyyenstudio.com/wp-content/uploads/2020/09/Golden-Mountains.jpg');">
              <span class="mask bg-gradient-dark"></span>
              <div class="card-body position-relative z-index-1 d-flex flex-column h-100 p-3">
                <h5 class="text-white font-weight-bolder mb-4 pt-2">Contact Us</h5>
                <p class="text-white">If you face any issue regarding installation in your website , mail us to <i>kuikform@gmail.com</i>. We will respond to your mail within 2 hour. </p>
                <a class="text-white text-xss font-weight-bold mb-0 icon-move-right mt-auto" href="mailto:kuikform@gmail.com?subject=KuikForm%20Support%20Team%20%3A"  target="_blank">
                  Mail us now :)
                  <i class="fas fa-envelope text-sm ms-1" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>


{% endblock %}

{% block modals %}
    <div class="modal fade" id="addToWebsiteCodeSnippet" tabindex="-1" aria-labelledby="addToWebsiteCodeSnippetLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header bg-gradient-dark text-white">
            <h5 class="modal-title text-white" id="addToWebsiteCodeSnippetLabel">Follow the instructions</h5>
            <button type="button" class="btn-close text-dark " data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label  class="text-lg-center">Your form id : </label>
              <input type="text" class="form-control" value="{{ form.id }}" readonly>
            </div>
            <div class="mb-3">
              <label class="text-lg-center">Add the form id in your html -> body -> form tag</label>
              <textarea readonly class="form-control" rows="5" style="line-height: 30px">
  <!--- Put the form id in the form tag like below --->
  <form kuikform-id="{{ form.id }}">
        <!--- Your code -->
  </form>
              </textarea>
            </div>
              <div class="mb-3">
              <label class="text-lg-center">Add this JS library in body </label>
              <input type="text" class="form-control" value='<script src="https://cdn.jsdelivr.net/gh/KuikForm/cdn@2.0.0/kuikform-client-connect.min.js"></script>' readonly>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header bg-gradient-danger text-white">
            <h5 class="modal-title text-white" id="deleteConfirmationModalLabel">Do you want to delete this form ? </h5>
            <button type="button" class="btn-close text-dark " data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <div class="mb-3">
                  <h6 style="color: red">Note : You will loss access from the form and all the form responses. The data is non-recoverable once you delete.</h6>
            </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <a class="btn btn-danger bg-gradient-danger" href="{% url "delete_form" form.id %}">Confirm Delete</a>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block extraJS %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
    $(document).ready(function() {

      if(window.location.href.indexOf('#addToWebsiteCodeSnippet') != -1) {
        $('#addToWebsiteCodeSnippet').modal('show');
      }

    });
    </script>
     <script>
     function getParameterByName(name, url = window.location.href) {
         name = name.replace(/[\[\]]/g, '\\$&');
         var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
             results = regex.exec(url);
         if (!results) return null;
         if (!results[2]) return '';
         return decodeURIComponent(results[2].replace(/\+/g, ' '));
     }
     window.onload = function (){
         var message = getParameterByName("m");
         var type = getParameterByName("t");
         if(message && type){
             if(type == 0){
                 Swal.fire({
                   title: 'Error!',
                   text: message,
                   icon: 'error',
                   confirmButtonText: 'OK'
                 })
             }else if(type == 1){
                 Swal.fire({
                   title: 'Done!',
                   text: message,
                   icon: 'success',
                   confirmButtonText: 'OK'
                 })
             }
         }
     }
     </script>
{% endblock %}
